
*{
    margin: 0;
    padding: 0;
    font-family: "ubuntu", sans-serif;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    list-style: none;

}

header{
    background-color: black;
    
}

.logo{
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    margin: auto;
    color: white;
}

.blog-festival{
    background-color: #2f2f2f;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;

}


.festival{
    width: calc(33% - 10px);
    overflow: hidden;
}

.festival-image{
    width: 800px;
    height:400px;
    border-radius: 6px;
    transition:  .3s linear;
}

