

body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;

}

*{
    margin: 0;
    padding: 0;
    font-family: "ubuntu", sans-serif;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    list-style: none;

}

.backgr{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image:url(img01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: slide 20s infinite;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    text-align: center;
    
}

.content h1{
    color: white;
    font-size: 70px;
    letter-spacing: 17px;
}

.content h3{
    color: white;
    background-color: black;
    padding: 10px 24px;
    font-size: 40px;
    letter-spacing: 6px;
    text-decoration:none;
    border-radius: 10px;

}

p{
    font-size: 20px;
    max-width: 80%;
    margin: auto;
    padding: 40px;
    line-height: 30px;
    text-align: justify;

}

@keyframes slide{
    0%{
        background-image:url(img01.jpg);
    }
    25%{
        background-image:url(img02.jpg);
    }

    50%{
        background-image:url(img03.jpg);
    }

    75%{
        background-image:url(img04.jpg);
    }
 


}

header{
    background-color: black;
}

.logo{
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    margin: auto;
    color: white;
}

.menu-icon{
    width: 50px;
    height: 50px;
    background: #2c3a47;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 2;
    border-radius: 20%;
    cursor: pointer;
    transition: .2s linear;
}

.menu-icon:hover{
    opacity: .9;
    transform: scale(1.1);
}

.navigation-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    background-image: url(img05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0%;
    right: -100%;
    display: table;
    text-align: center;
    justify-content: center;
    transition: .4s;
    transition-delay: .2;
}

.navigation-menu nav{
    display: table;

}

.navigation-menu li{
    margin: 20px ;
    overflow: hidden;
}

.navigation-menu a{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    transform: translateY(40px);
}

.navigation-menu a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 15px;
    background: orangered;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    z-index: -1;
    transition: .3s linear;
}

.navigation-menu a:hover::before{
    width: 100%;
}

p{
    max-width: 80%;
    margin: auto;
    padding: 40px 0;
    font-size: 20px;
    line-height: 1.4em;
    text-align: justify;
}

.menu-icon.active{
    background: #f1f1f1;
    color: #2c3a47;
}

.navigation-menu.active{
    right: 0%;
    transition: .4s linear;
}

.navigation-menu.active a{
    transform: translateY(0);
    transition: .6s linear;
}

.navigation-menu.active li:nth-child(1) a{
    transition-delay: .2s;
}

.navigation-menu.active li:nth-child(2) a{
    transition-delay: .4s;
}

.navigation-menu.active li:nth-child(3) a{
    transition-delay: .6s;
}

.navigation-menu.active li:nth-child(4) a{
    transition-delay: .8s;
}

.navigation-menu.active li:nth-child(5) a{
    transition-delay: 1s;
}

.navigation-menu.active li:nth-child(6) a{
    transition-delay: 1.2s;
}

.navigation-menu.active li:nth-child(7) a{
    transition-delay: 1.4s;
}

.navigation-menu.active li:nth-child(8) a{
    transition-delay: 1.6s;
}

footer{
    background-color: black;
    color: #fff;
    padding: 30px 0;
    text-align: center;

}

.copyright{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 15px;
}
.sm a{
    font-size: 30px;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 20px;
    line-height: 10px;
    color: aqua;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;

}

.sm a:hover{
    opacity: .9;
    transform: scale(1.1)
}
